/*移动端样式*/
        .list1 ul{
            overflow: hidden;
			position:absolute;
			background-size: cover; 
			rigth:1px;
			top:10px;
			width:300px;
			height:150px;
			float:right;

        }
        .list1 li{
            float: left;
            list-style-type: none;
        }
        .list1 a{
            display: block;
            padding: 0 16px;
            text-decoration: none;
            color: #999;
        }

        .list1 a:hover{
            color: #555;
        }
 
		.bgpicindex {
			position:fixed;
			background:url(../images/m_index.png) no-repeat 2px center;
			top:0; left:0; width:100%; height:100%; margin: 0; padding: 0;
			background-size: cover; 
			overflow:hidden;

		}

		.bgpicbooks {
			position:fixed;
			background:url(../images/m_books.png) no-repeat 2px center;
			top:0; left:0; width:100%; height:100%; margin: 0; padding: 0;
			background-size: cover;
			overflow:hidden;

		}

.bgpicbooksboll {
	position: fixed;
	background: url(../images/m_books.png) no-repeat 2px center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
	overflow: hidden;

}
		.bgpicshop {
			position:fixed;
			background:url(../images/m_shop.png) no-repeat 2px center;
			top:0; left:0; width:100%; height:100%; margin: 0; padding: 0;
			background-size: cover;
			overflow:hidden;

		}
		.bgpicabout {
			position:fixed;
			background:url(../images/m_books.png) no-repeat 2px center;
			top:0; left:0; width:100%; height:100%; margin: 0; padding: 0;
			background-size: cover;
			overflow:hidden;

		}
	body,ul,li,a
	{
		padding: 0;
		margin: 0;
	}
	body
	{
		margin-top: 5px;
		
		color: #fff; 
	}

.cssmenu {
	display: none;
	margin-top: 4%;
	overflow: hidden;
}
	.menu
	{
		display: none;
		font-size: 0;
		padding: 0;
		
		height: 40px;
		margin-left: 50%;
		margin-top: 5%;

		position: relative;
	}
	.menubar
	{
		margin: 0 auto;
		position: absolute;
		list-style-type: none;
		width:100%;
		overflow-y: auto;
	}
 
	.menubar li
	{
		padding:0px 1px;
		display:inline-block;
		cursor: pointer;
		line-height: 40px;
	}
	.menubar li:hover
	{
		background-color:#0095bb;
	}
	.menubar li.menu-value
	{
			
	}
 
	.menubar a
	{
		display: block;
		height: 25px;
		font-family: "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"宋体" ;
		font-size: 5px;
		text-align: center;
		text-decoration: none;
		color: #fff;
		padding: 0 5px;
	}
	.logomixing {
		position:absolute;
		left:45%;
		top:10%;

		width:40px;height:40px;
	}
	.logoimg {
		height:50px;
		width:50px;
	}
	.slogan {
		position: absolute;
		left: 50%;
		top: 40%;
		margin: 0px -100px ;
		height: 50px;
		font-family: "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"宋体" ;
		font-size: 17px;
		text-align: center;
		text-decoration: none;
		color: #fff;

	}
	.bookssearch {
		position: absolute;
		margin-left: 5px;
		top:200px;

		height:60px;
	}
	.bookssearch a{
		color: #fff;
	}


.bookinput {

	margin-top: 10px;
	border: #808080 1px solid; /* 设置输入边框的颜色粗细 */
	font-size: 12px; /* 设置输入框中字体的大小 */
	height: 30px; /* 设置输入框的高度 */
	width: 220px;
	border-radius: 5px; /* 设置输入框圆角的大小 */
	color: #000000; /* 输入框中文字的颜色 */
	display: inline; /* 使input框在同一行信息，不会换行显示，不使用float: left;样式，应为该样式会让input框周围的其它标签样式乱掉 */
}

.bookinputsubmit {
	position: absolute;
	left: 50%;

	margin: 40px -60px;
	border: #808080 1px solid; /* 设置输入边框的颜色粗细 */
	font-size: 12px; /* 设置输入框中字体的大小 */
	height: 30px; /* 设置输入框的高度 */
	width: 120px;
	border-radius: 5px; /* 设置输入框圆角的大小 */
	background-color: #1B242F;
	color: #ffffff; /* 输入框中文字的颜色 */

}
.shopbtn{
	position:absolute;
	left:60%;
	top:74%;
	border: #ffffff 1px solid; /* 设置输入边框的颜色粗细 */
	font-size: 12px; /* 设置输入框中字体的大小 */
	height: 30px; /* 设置输入框的高度 */
	width: 120px;
	border-radius: 5px; /* 设置输入框圆角的大小 */
	background-color: #06132f;
	color: #ffffff; /* 输入框中文字的颜色 */
	display: inline; /* 使input框在同一行信息，不会换行显示，不使用float: left;样式，应为该样式会让input框周围的其它标签样式乱掉 */
}

	/* 偶数行背景色 */
.layui-table[lay-even] tr:nth-child(even) {
    /* background-color: #aaffaa; */
    background-color: #eeffee;
	}

/* 鼠标指向表格时,奇数行背景颜色 */
.layui-table tbody tr:hover,.layui-table-hover {
    background-color: #eeffee;
	}

/* 表格头部工具栏背景色 */
.layui-table-tool {
    background-color: #eeffee;
	}

/* 表格头部背景色 */
th {
    background-color: #359f6a; /* MediumSeaGreen */
    color: #fff;
    font-weight: bold
	}

body .poplayer-class .layui-layer-title{background:#c00; color:#fff; border: none;}
body .poplayer-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .poplayer-class .layui-layer-btn a{background:#333;}
body .poplayer-class .layui-layer-btn .layui-layer-btn1{background:#999;}

.bottom-nav{
	display: flex;
	margin-bottom: 3px;
	height: 50px;
	width: 100%;
	position:absolute;
	left:0;
	bottom:0;
	z-index: 999;
}

.box{
            width: 100%;
            height: 50px;
            border: 1px solid #342c2a;
			background-color: #342c2a;
            margin: 0  auto;
            text-align: center;
            line-height: 50px;
        }

        /* 改变字体颜色 去掉下划线 */
        .box a{
            color: white;
            text-decoration: none;
        }

        /* 3.设置左右的间隔 */
        .box span{
			height: 50px;
            margin: 0 12px;
            font-size: 12px;
            color: lightgray;
        }

        /* 4.鼠标悬浮 改变颜色 */
        .box a:hover{
            color: gray;
        }

.layui-table-cell {
    height: auto;
    line-height: 28px;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    box-sizing: border-box;
}

.plant {
	position:absolute;
	left:50%;
	top:7%;
	margin: 0 0 0 -50px;
	height: 100px; /* 设置高度 */
	width: 100px;
}
.plant-table-div {
	position:absolute;
	top:30%;
	bottom: 60px;
	width: 100%;

}

.plant-declare p{
	position: fixed;
	right: 1%;

	color: grey;
	margin-bottom: 55px;
	bottom: 0px;
	text-align: right;
	font-size: 5px;
}




/*查询结果 边框样式, 去掉表格空隙*/
.plant-info-table {
    width: 100%;

    border-collapse: separate;
}

.plant-info-table caption {
	color: grey;
    margin: 5px;
	font-size: small;
}

.plant-info-table thead {
    background-color: #F9F9F9;
}

/*边框样式, 字符截断(配合width使用)*/
.plant-info-table th, .plant-info-table td {
	border-collapse: separate;
	border-spacing: 0px 20px;
    word-break: break-all; /*以字母为单位折断*/
    word-wrap: break-word; /*以单词为单位折断*/
　　white-space: pre-wrap; /*汉字*/
	text-align: center;


}

/*单数行*/
.plant-info-table tbody tr:nth-child(odd) {
    /*font-size: xx-small;*/
	/*color: grey;*/
}

/*偶数行*/
.plant-info-table tbody tr:nth-child(even) {
    /*font-size: x-small;*/
}

/*用来控制td的宽度*/
.plant-info-table .large {
    width: 300px;
}
.plant-info-table .medium {
    width: 200px;
}

.plant-info-table .small {
    width: 100px;
}

.aboutmixing {
	position: fixed;
	left: 20%;
	top: 29%;
	width: auto;
	height: fit-content;

}

.aboutmixing p{
	font-size: xx-small;
	line-height: 22px;
    word-wrap:break-word;
    word-break:normal;
    overflow: hidden;
}