<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>关于</title>
  <link rel="stylesheet" href="{{ static_url('layui/css/layui.css ') }}">

    <script type="text/javascript">
        if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i))) {    //跳到手机端
            document.write("<link href=" + "{{ static_url('home/css/m_mixing.css') }}" + " rel=stylesheet >");
        }else {
            document.write("<link href=" + "{{ static_url('home/css/mixing.css') }}" + " rel=stylesheet >");
        }

    </script>
	
</head>
<body>
  <!-- nav部分 -->
  <div class="bgpicabout">


      <div class="cssmenu">
          <ul>
              <li class=""><a href="/">首页</a></li>
              <li class=""><a href="/books.html">登记册</a></li>
              <li class=""><a href="/shop.html">觅星商店</a></li>
              <li class=""><a href="/about.html">联系我们</a></li>
          </ul>
      </div>

  <div class="logomixing">
      <h1> <a><img src="{{ static_url('home/images/logo.png') }}" class="logoimg" alt="觅星"> </a></h1>
  </div>
      <div class="layui-container bottom-nav">
          <div class="layui-row box">
              <div class="layui-col-xs3">
                    <a href="/">首页</a>
                    <span>|</span>
              </div>
              <div class="layui-col-xs3">
                    <a href="/books.html">登记册</a>
                    <span>|</span>
              </div>
              <div class="layui-col-xs4">
                    <a href="/shop.html">觅星商店</a>
                    <span>|</span>
              </div>
              <div class="layui-col-xs2">
                  <a href="/about.html">关于</a>
              </div>

          </div>
      </div>
  </div>
  <div class="aboutmixing">

      <p>
          Q： 一个人真的可以命名一颗星星吗？我可以买一颗星星吗？我的星星名字会被正式认可吗？<br>
          A： 显然，你不能买一颗星星。星星属于全世界所有人，无论您喜欢那种，他们都不会出售。命名一颗星星是一个象征性礼物。<br>
              显然不涉及任何合法的所有权。 我们的登记册不是科学界使用的，“MIXING觅星”系品牌名称。<br>

          Q ： MIXING觅星是什么？<br>
          A ： MIXING觅星作为一家主要经营太空主题文创产品的机构，销售的相关产品意在纪念存储美好愿望，象征性的把星空与用户链接在一起。
      </p>
      <hr />

      <p >
          <br>www.mixingcn.com<br>
          Tel: 15826143649<br>
          E-mail: 7537839@qq.com
      </p>
  </div>
  <!-- footer部分 -->

<script src="{{ static_url('layui/layui.js') }}"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: "{{ static_url('home/js/') }}"
  }).use('firm'); 
  layui.use('element', function(){
        var element = layui.element;

  

    });
</script>
</body>
</html>